@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100vh;
}

header {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
}

header h1 {
    padding: 5px 0px;
}

div.treino-de-hoje {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.treino-de-hoje > h3 {
    padding-left: 3%;
}

div.card-container {
    height: 200px;
    max-width: 500px;
    border-radius: 15px;

    background-image: url('../../assets/SiteAcademia/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: 50% 35%;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1%;
    overflow: hidden;
}

div.left {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    flex: 1;
    background-image: linear-gradient(to right, rgba(0, 0, 0), transparent);
}

div.left h3 {
    font-size: 2rem;
}

div.left p {
    opacity: .8;
}

div.left img {
    
}
div.duracao-treino {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}